/* General Styling*/
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* Header Style */
.nav-wrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}

a {
  text-decoration: none;
}
.iPhone11-pro {
  background-image: url("../images/home/iphone11-pro-bg.jpg");
  width: 100%;
  height: 400px;
  background-size: cover; /* Adjust the size */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}

.iPhone11 {
  background-image: url("../images/home/iphone11-bg.jpg");
  width: 100%;
  height: 400px;
  background-size: cover; /* Adjust the size */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}

.watch-container {
  background-image: url("../images/home/watch-series-5.jpg");
  width: 100%; /* Allow flexbox and grid system to handle width */
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  --bs-gutter-x:var
}

.card-container {
  background-image: url("../images/home/apple-card.jpg");
  width: 100%; /* Allow flexbox and grid system to handle width */
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.tv-container {
  background-image: url("../images/home/apple-tv-background.jpg");
  width: 100%;
  height: 400px;
  background-size: cover; /* Adjust the size */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}
.servant {
  padding-top: 120px;
}
.baby-link {
  padding-top: 125px;
}
.wat {
  margin-bottom: 10px;
}

.airpods-pro-container {
  background-image: url("../images/home/air-pods.jpg");
  width: 100%;
  height: 400px;
  background-size: cover; /* Adjust the size */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}

.mac-h1 h1 {
  font-size: 35px;
}
.ipad-container {
  background-image: url("../images/home/new-ipad.jpg");
  width: 100%;
  height: 400px;
  background-size: cover; /* Adjust the size */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}



 @media (min-width: 720px) {
  .card-container,
  .watch-container,
  .tv-container,.airpods-pro-container,
   .ipad-container,
  .mac-container  
   {
    display: inline-block;
    width: 50%;
    margin-right: px ;
  }
  .tv-airpod-container,
  .mac-ipad-containr {
    display: flex;
    justify-content: center;
  } 





















/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li {
  padding: 0 10px;
  border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}

/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}
